header {
    background-color: black;
    color: yellow;
    width: 921px;
    height: 80px;
    margin: 0 auto;
    padding: 2em 1em;
    text-align: center;
}
header h1{
    font-family: 'Trebuchet MS';
}